.articles {
    display: flex;
    flex-direction: column;
    height: 400px;
    max-width: 800px;
}

.table {
    border-collapse: collapse;
    display: flex;
    flex: 0 1 800px;
    flex-direction: column;
    overflow: auto;
    border: 2px solid #000000;
}

a{
    text-decoration: none;
    color: #000000;
}

thead{
    min-height: 17px;
    font-size: 10px;
    text-align: left;
}

tr{
    display: flex;
    flex: 0 1 800px;
}

td, th{
    border-right: 2px solid #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 2 100px;
    padding: 5px;
}

td:first-child, th:first-child{
    flex: 0 1 200px;
}

td:nth-child(2), th:nth-child(2){
    flex: 0 1 500px;
}

tbody > tr:nth-child(2n + 1) {
    background: #eeeeee;
}

.table-title{
    background: #cccccc;
}

.info {
    display: flex;
    justify-content: space-between;
}

.articles-info, .comments-info {
    border: 1px solid #000000;
    margin: 10px 10px 20px 0;
    padding: 15px;
    flex: 0 1 400px;
    cursor: pointer;
}

.comments-info {
    margin-right: 0;
}

.articles-info:hover, .comments-info:hover{
    background-color: #eeeeee;
}

button {
    background: #000;
    border: 1px solid #000000;
    border-radius: 50%;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 11px;
}

.delete:hover {
    color: #000000;
    background: #ffffff;
}

.actions {
    display: flex;
    justify-content: space-around;
}